body {
  background: black;
  color: white;
  font-family: Comic Sans MS;
}
p {
  color: ghostwhite;
}
h1 {
  font-weight: bold;
  color: ghostwhite;
}
    
h4 {
  font-weight: bold;
  color: ghostwhite;
}


h3 {
  font-weight: bold;
  color: ghostwhite;
}
  
h5 {
  font-weight: bold
  color: ghostwhite;
}

h2 {
  font-weight: bold
    color: white;
}

h2 {
  font-weight: bold
    color: white;
}

.pictures {
  height: 400px;
  width: 300px;
}

.body {
  color: red;
  
}

body {
  font-size: 20px
    
}

